<footer id="navbar">
    <nav>
        <ul>
            <li><a href="/">Principal</a></li>
            <br>
            <li><a href="/questionarios/">Questionários</a></li>
            <br>
            <li><a href="/questionarios/adicionar">Criar Quiz</a></li>
        </ul>
    </nav>
</footer>