<footer id="navbar">
    
     <nav>
            <ul class="blocos">
                <li>
                <a href="/">
                    <img class="botao" src="/imagens/home.png">
                </a>
                    <p>Principal</p>
                </li>
                <br>
                <li>
                <a href="/questionarios">
                    <img class="botao" src="/imagens/check.png">
                </a> 
                   <p>Questionários</p>
                </li>
                <br>
                <li>
                <a href="/questionarios/adicionar">
                    <img class="botao" src="/imagens/add.png">
                </a>
                    <p>Criar Quiz</p>
                </li>
            </ul>

</footer>