<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/principal.css">
    <title>Blog NodeJs</title>
</head>
<body>
    
    {{{body}}}
<script src="/avascript.js"></script>
</body>
</html>