<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/principal.css">
    <link rel="stylesheet" href="/questionarios.css">
    <title>Brincadeira</title>
</head>
<body>
    {{{body}}}
    {{>footer}}
<script src="/javascript.js"></script>
</body>
</html>