
html, body{
    margin: 0;
    zoom: 90%;
    min-height: 100%;
}

h1{
    text-align: center;
}

#inicial {
    background-image: url('imagens/gifFundoVerdeERoxo.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#paginaJogar{
    background-color: #7c7dd8;
}


@media (max-width: 1200px) {
    html {
        zoom: 50%;
    }

}

#jogar, #criar, #entrar {
    display: block;
    font-size: 120%;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    border-radius: 7px; 
    cursor: pointer;
    background-color: #A2E497;
    font-family: 'Noto Mono', sans-serif;
    
}

#jogar:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #7c7dd8;
}

#criar:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background-color: #7c7dd8;
}

#entrar:hover {
    transform: scale(1.1);
}

/* Janela Modal retirada do video do professor Coutinho no canal Flavio Coutinho :) */
#quadroInicial h1{
    color: black;
    text-align: center;
    text-decoration: none;
    flex-direction: center;
    padding: 5%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 300%;
}

#quadroInicial{
    background: white;
    padding: 3%;
    max-width: 400px;
    border-radius: 7%;
    box-shadow: 0 5px 1px rgba(0,0,0,.2);
    margin: 150px auto;
}

#apelido, #codigo{
    font-size: 20px;;
    padding: 7px;
    border-radius: 7px;
    margin: 10px auto;
}
#inicial img {
    height: 300%;
    width: 300%;
}

#participantes{
    display: block;
    font-size: 100%;
    padding: 0.5%;
    width: 2%;
    height: 2%;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    font-family: 'Noto Mono', sans-serif;
    border: 0;
}

.modal{
    display: none;
    font-size: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    position: fixed;
    z-index: 10;
    width: 25%;
    max-width: max-content;
    left: 30%;
    top: 35%;
    margin: 150px auto;
    background-color: white;
    transform: translateY(-25%);
    padding: 5%;
    border-radius: 2%;
    box-shadow: 0 5px 1px rgba(0,0,0,.2);
    transition: all 200ms ease-out;
}

span.fecharModal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgb(182, 174, 174);
    border-radius: 60%;
    width: 2em;
    height: 2em;
    padding: 1%;
    cursor: pointer;
}

span.fecharModal:hover {
    background-color: rgba(173, 11, 11, 0.616);
}

button.fecharModal{
    cursor: pointer;
    width: 4em;
    height: 4em;
}

.modal.visivel{
    display: block;
    transform: translateY(-50%);
}

#mascara{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

.modal.visivel ~ #mascara{
    opacity: 0.4;
    pointer-events: initial;
}
/*-------------------*/

.divQuestionario h1{
    text-align: center;
}

.todosQuestionarios{
    display: flex;
    justify-content: space-evenly ;
}
/*-------------*/
/* Pagina Fazer Questionario */

.pergunta{
    display: block;
}

