<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imagens/favicon.png">
    <link rel="stylesheet" href="/principal.css">
    <link rel="stylesheet" href="/questionarios.css">
    <title>Questionario {{questionario.titulo}}</title>
</head>
<body>

    <main>
        <p id="mensagem">{{mensagem}} Teste</p>
    </main>
    
</body>